
@{
    ViewData["Title"] = "About";
}

    <div class="row">
        <div class="col-md-5">
            <img src="~/img/joshua.jpg" class="rounded mx-auto d-block rounded-circle img-fluid" alt="...">

    </div>
      

        <div class="col-md-7">
  <h1>About</h1>
            <p>My name is Joshua Holden. I'm a programmer and an avid consumer of the Microsoft development stack. </p>
            <p>This is my personal blog and represents my interests in tech, project management and software development, perhaps if you have a poke around you may find something interesting.</p>
            <h3> Background</h3>
            <p>I have worked a long time in software development, currently working for QA LTD in the UK as a senior software developer but <i>the content and opinions expressed within are my own</i>. Why not check out my LinkedIn<i class="fab fa-linkedin-square"></i> profile: <a target="_blank" href="https://www.linkedin.com/in/jrholden/">here</a>.</p>
            <p>please feel free to register with my RSS feed <i class="fas fa-rss"></i>: <a target="_blank"  href="/feed/rss">here</a> or the atom feed <i class="fas fa-atom"></i> <a target="_blank" href="/feed/atom">here</a></p>
        </div>
    </div>

